@model SInhVien.Context.ThongTin

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ThongTin</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MaSv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaSv)
                @Html.ValidationMessageFor(model => model.MaSv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen)
                @Html.ValidationMessageFor(model => model.HoTen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamSinh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamSinh)
                @Html.ValidationMessageFor(model => model.NamSinh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDienThoaiSV, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoDienThoaiSV)
                @Html.ValidationMessageFor(model => model.SoDienThoaiSV)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lop, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lop)
                @Html.ValidationMessageFor(model => model.Lop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Khoa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Khoa)
                @Html.ValidationMessageFor(model => model.Khoa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoTenChuTro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTenChuTro)
                @Html.ValidationMessageFor(model => model.HoTenChuTro)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChiNoiCuTru, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiNoiCuTru)
                @Html.ValidationMessageFor(model => model.DiaChiNoiCuTru)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDangKy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDangKy)
                @Html.ValidationMessageFor(model => model.NgayDangKy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayHuy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayHuy)
                @Html.ValidationMessageFor(model => model.NgayHuy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
